<!DOCTYPE html>
<html>
	<head>
		<title>Pill Tracker</title>
		
		<meta name="language" content="en">
		<link rel="shortcut icon" href="Images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="autocomplete/abbreviation-autocomplete.min.css">
		<link rel="stylesheet" type="text/css" href="CSS/isek.min.css">
		
		<script src="js/vue.min.js"></script>
		<script src="autocomplete/abbreviation-autocomplete.min.js"></script>
		<script src="js/pills.min.js" defer></script>
	</head>

	<body>
		<div id="main">
      <noscript>
        <h1 class="noscript"> Javascript has been disabled. </h1>
      </noscript>
			<div id = "topControls">
        <div class="clickable" title="Reset" @click="clear">
				    <img alt="Forget Me Now" class="noSelect" src="Images/Forget_Me_Now.png"></img>
        </div>
        <p class="clickable noSelect" id="version_header" title="Click to change game version." @click="switchVersion">{{ version }}</p>
        <div class="clickable" title="PHD/Virgo" @click="PHD">
		  		  <img alt="PHD" class="noSelect" src="Images/PHD.png"></img>
			    	<img alt="PHD" class="noSelect" src="Images/Virgo.png"></img>
        </div>
			</div>
			<table id="pillInfo">
				<tbody>
          <tr v-for="row in Math.ceil(pillSlots.length / 3)">
            <td v-for="pillSlot in pillSlots.slice((row - 1) * 3, ((row - 1) * 3) + 3)">
							<img :alt="pillSlot.alt" class="noSelect" :src="pillSlot.src">
              <abbreviation-autocomplete :data="pillEffects" placeholder="???" v-bind:search-text.sync="pillSlot.effect"></abbreviation-autocomplete>
            </td>
          </tr>
				</tbody>
			</table>
		<div id="footer">
			<p>All bugs and suggestions go to <a href="https://www.reddit.com/user/firelemons/">my reddit account.</a>
			</br>
			I will not support IE or Microsoft Edge.
			</p>
		</div>
		</div>
	</body>
</html>
